.footer-section {
  background: #ddf1fa;
  padding: 40px 0 0 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px 50px;
}

.footer-logo img {
  width: 200px;
  margin-top: -50px;
  /* margin-bottom: 50px; */
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #000;
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
  color: #333;
  cursor: pointer;
}

.footer-column ul li:hover {
  color: #0056b3;
}

.footer-contact {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #333;
}

.footer-icon {
  margin-right: 10px;
  color: #000066;
}

.footer-socials {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.footer-socials div {
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.footer-socials div:hover {
  background: #003366;
  color: white;
}

.footer-bottom {
  background: #003b80;
  color: white;
  text-align: center;
  padding: 12px 0;
  font-size: 15px;
}
