.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Background slideshow */
.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

.hero-title {
  font-size: 70px;
  font-weight: 800;
  color: goldenrod;
}

.hero-subtitle {
  font-size: 36px;
  margin-top: 10px;
}

.hero-desc {
  max-width: 800px;
  margin: 20px auto;
  font-size: 20px;
  line-height: 1.6;
}

/* Tablets (max-width: 820px) */
@media (max-width: 820px) {
  .hero-title {
    font-size: 48px;
  }
  .hero-subtitle {
    font-size: 26px;
  }
  .hero-desc {
    font-size: 17px;
    max-width: 90%;
  }
}

/* Mobile (max-width: 600px) */
@media (max-width: 600px) {
  .hero {
    height: 90vh; /* reduce height for mobiles */
  }

  .hero-title {
    font-size: 38px;
  }

  .hero-subtitle {
    font-size: 22px;
  }

  .hero-desc {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* Small Mobile (max-width: 400px) */
@media (max-width: 400px) {
  .hero-title {
    font-size: 32px;
  }

  .hero-subtitle {
    font-size: 19px;
  }

  .hero-desc {
    font-size: 15px;
  }
}