.travel-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px 20px;
}

.travel-img {
  height: 450px;
  width: 400px;
  margin-top: 50px;
  margin-right: 50px;
}

.travel-text {
  max-width: 1000px;
  text-align: left;
}

.highlight {
  color: #f9a825;
  font-weight: bold;
}

.travel-text p {
  margin-top: 20px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}

